@define-color accent_color #6f0000;
@define-color accent_fg_color #ffffff;
@define-color accent_bg_color #6f0000;

:selected,
.selection,
selection {
  background-color: #6f0000;
  color: #ffffff;
}

:focus:selected,
:focus .selection {
  background-color: #6f0000;
  color: #ffffff;
}

.sidebar:selected,
.sidebar .selection {
  background-color: #6f0000;
  color: #ffffff;
}
